{% extends "base.html" %}

{% block title %}GitBug Frequently Asked Questions{% endblock %}

{% block header %}
<div id="header">
    <h1>FAQ</h1>
</div>
{% endblock %}

{% block faq_nav %} class="this"{% endblock %}

{% block content %}
<div id="content" class="copy">

<h2>Can You Add...</h2>

<p>If it's another field then probably not, but do ask anyway. My focus here is keeping this as simple as possible. Their is lots of good issue tracking software which allow more control, or hundreds of drop down menus, or permission models and workflows.</p>

<h2>I Found a Bug</h2>

<p>This is an early release so their might very well be a few bugs (or features I haven't built yet). You can file them at the <a href="http://gitbug.appspot.com/projects/gitbug/">gitbug project</a>. If the bug is in adding a bug you can email them to me at <a href="mailto:gareth@morethanseven.net">gareth@morethanseven.net</a></p>

<h2>Do you have an API?</h2>

<p>Not exactly, at least not a write API. Most of the views are available as JSON and RSS at the moment as well as HTML.</p>

<pre>http://gitbug.appspot.com/projects.json
http://gitbug.appspot.com/projects.rss
http://gitbug.appspot.com/projects/{project-name}.json
http://gitbug.appspot.com/projects/{project-name}/{issue-name}.json
http://gitbug.appspot.com/projects/{project-name}.rss</pre>

<p>I'd like to add a write API at a later date. In fact it's required by some of the other nice features I'd like to add.</p>

<h2>Other Features?</h2>

<p>Although I want to keep everything as simple as possible that doesn't mean I can't add cool new features over time. Most of them will focus on the interfaces to data. So expect more feeds, a scattering of RDF and Microformats and some graphs and stats for projects. I'd also like to work on an Instant Messaging interface and probably a command line version.</p>

<h2>GitHub Hooks</h2>

<p>As mentioned on each project page you created you can close issues using 
<a href="http://github.com/guides/post-receive-hooks">GitHub post receive hooks</a>. This is somewhat experimental so I'll be keeping a close eye on this feature.

</div>

{% endblock %}