{% extends "base.html" %}

{% block title %}Confirm deletion of {{project.name}} on GitBug{% endblock %}

{% block header %}
<div id="header">
    <h1>{{project.name}}</h1>
    <p>Created on {{project.created_date|date:"jS F Y"}}</p>
</div>
{% endblock %}

{% block content %}

{% if owner %}

<form action="" method="post" id="deleteproject">
    <input type="submit" value="Delete" class="btn"/>
    <p>This will delete this project for ever. Their is no undo.</p>
</form>


{% endif %}

{% endblock %}